* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5px;
}

.whole{
    font-family: sans-serif;
}

.header {
    color: white;
    padding: 20px 20px 20px 20px;
    font-size: large;
    border-bottom: 5px solid hsl(206, 22%, 66%);
    border-radius: 25px;
    border-width: 8px;
}

.nav {
    list-style-type: none;
    display: inline-flex;
    margin: 2px;
    border-radius: 5px;
    background-color: rgb(167, 198, 224) ;
    color: rgb(3, 5, 7);
    padding: 8px;
    border-style: none;
    flex-flow: row wrap;
    text-align: center;
}

.nav:hover{
    font-size: 150%;
}

.about{
    display: inline-flexbox;
    flex-wrap: row wrap;
}

.taylor{
    text-align: center;
    font-size: xx-large;
}

.intro{
text-align: center;
border-style: solid 5px;
border: steelblue;
shape-outside: circle(50%);
}

.contact{
    text-align: right;
}

.homephoto {
    box-align: right;
}

.duty{
    list-style-type: none;   
}

.job{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch ;
}

.cert,.skill{
    list-style-type: none;
    display: inline-flex;
    margin: 2px;
    border-radius: 5px;
    background-color: rgb(184, 192, 199) ;
    color: rgb(28, 58, 82);
    padding: 8px;
    border-style: none;
    flex-flow: row wrap;
    text-align: center;  
}

 .body{
    max-width: 100%;
    height: 100%;
    background: 
    url(Images/line5.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: row wrap;
 }

 .welcome{
    max-width: 100%;
    height: 100%;
    background: 
    url(Images/splitlanding.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
 }

 .welcomenav{
     display: inline-flex;
     align-items: stretch;
     justify-content: center;
     list-style-type: none;
 }

 .welcomenav:hover{
    font-size: 150%;
}

 footer{
     color: rgb(133, 150, 167);
     opacity: 25px;
     text-align: center;
     font-style: italic;
     display: inline-flex;
     left: 0;
     width: 100%;
     bottom: 0;
     flex-shrink: 0;
 }

 .welcomefoot{
     position: absolute;
     justify-content: end;
     flex-shrink: 0;
 }
